.product-details {
  margin-left: 20px;
  width: 90%;
  height: 4.2em;
  display: flex;
  flex-direction: column; /* Align children vertically */
  justify-content: space-between; /* Add space between elements */
}
  
  .price-wrapper {
    border-radius: 0.5em;
    display: flex;
    align-items: center;
  }
  
  .price-tag {
    margin: 0;
    font-size: 1em;
    margin-left: 0.3em; /* Add margin between the plus icon and the price */
  }

  .top {
    text-align: center;
  }

  .bottom {
    margin: 0; /* Remove margin to align stock count properly */
    font-size: 0.9em; /* Adjust font size as needed */
    display: flex;
    justify-content: space-between;
  }