.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  
  .modal-content {
    background-color: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
  }
  
  .modal-buttons {
    text-align: center;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    margin: 0 10px;
  }